/* color */
/**/
body {
  font-family: 'Montserrat', sans-serif;
}

.page--light {
  background-color: #f9f6f1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  font-size: 14px;
  font-weight: 500;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: none;
}

.nav-item {
  margin-right: 52px;
}

.nav-item:hover .nav-submenu {
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.nav-link {
  color: #212121;
  text-decoration: none;
}

.nav-submenu {
  list-style: none;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.wrapper {
  margin: 0 auto;
}

.cart {
  background-image: url(../img/cart.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  height: 30px;
  padding-left: 120px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.cart-count {
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.5px;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  background-color: #d7b399;
  position: relative;
}

.cart-count:before {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  width: 0;
  top: 0;
  bottom: 0;
  border-top: 7.5px solid transparent;
  border-right: 14px solid #d7b399;
  border-bottom: 7.5px solid transparent;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.main .sale__description {
  font-size: 30px;
}

.main .sale__title {
  font-size: 55px;
}

.main .sale__btn {
  font-weight: 400;
}

.btn {
  color: #fff;
  background-color: #d7b399;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
}

.box {
  position: relative;
}

.box-price {
  position: absolute;
  right: 25;
}

.dropdown > .nav-link:after {
  display: block;
  position: absolute;
  background-color: #212121;
  content: '';
}

.dropdown-menu {
  height: 0;
  position: absolute;
  background-color: #d7b399;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.dropdown-menu > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: green;
}

.dropdown:hover > .dropdown-menu {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
/*# sourceMappingURL=style.css.map */