/* color */
$light: #f9f6f1;
$light-gray: #f4f4f4;
$gray: #cbcfd4;
$dark-gray: #8d8d8d;
$accent: #d7b399;
$dark: #212121;
$important: #d84033;

/**/

body {
    font-family: 'Montserrat', sans-serif;
}

.page--light {
    background-color: $light;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    font-size: 14px;
    font-weight: 500;
}

.nav {
    display: flex;
    list-style-type: none;
    padding-left: none;

    &-item {
        margin-right: 52px;
        
        &:hover {
            .nav-submenu {
                transition: .4s;
                transform: scaleY(1);
            }
        }
    }

    &-link {
        color: $dark;
        text-decoration: none;
    }

    &-submenu {
        list-style: none;
        transform-origin: 0 0;
    }
}

.wrapper {
    margin: 0 auto;
}

.cart {
    background-image: url(../img/cart.svg);
    display: flex;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    padding-left: 120px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;

    &-count {
        $height: 15px;
        
        height: $height;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2.5px;
        width: 100%;
        align-self: center;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        background-color: $accent;
        position: relative;

        &:before {
            content: "";
            display: block;
            position: absolute;
            right: 100%;
            width: 0;
            top: 0;
            bottom: 0;
            border-top: $height / 2 solid transparent;
            border-right: 14px solid $accent;
            border-bottom: $height / 2 solid transparent;
        }
    }
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
        flex: 0 0 50%;
    }

    .sale {

        &__description {
            font-size: 30px;
        }

        &__title {
            font-size: 55px;

        }

        &__btn {
            font-weight: 400;
        }
    }
}

.btn {
    color: #fff;
    background-color: $accent;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 20px;
}

.box {
    position: relative;

    &-price {
        position: absolute;
        right: 25;
    }
}

.dropdown {
    > .nav-link:after {
        margin: 0 0 3px 5px;
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 5px solid $dark;
    }

    &-menu {
        height: 0;
        position: absolute;
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: .5s ease-in-out;

        > .wrapper {
            display: flex;
            background-color: $light;
            flex-flow: column;
            > a {
                padding-top: 8px;
                text-decoration: none;
                color: $dark;
            }
        }
    }

    &:hover > &-menu {
        transform: scaleY(1);
    }
}